@import 'code';
@import 'tab';

.col-tab {
    .wrapper-content {
        .content {
            background: $bg_tab_grey_medium;
            height: calc(100% - 40px);
            pre {
                font-size: $dejavu;
                margin: 0;
                padding-top: 0.5rem;
            }
        }
    }
}
