#Contact {
    .wrapper-atom {
        height: 250px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 200px;
        z-index: 1;
        -webkit-transform: translate(-50%, calc(-50% - 20px));
        -moz-transform: translate(-50%, calc(-50% - 20px));
        transform: translate(-50%, calc(-50% - 20px));
        > div {
            border: 5px solid $blue;
            border-radius: 50%;
            left: 50%;
            margin-left: -100px;
            margin-top: -100px;
            position: absolute;
            top: 50%;
            -webkit-transform: rotateX(80deg) rotateY(20deg);
            -moz-transform: rotateX(80deg) rotateY(20deg);
            transform: rotateX(80deg) rotateY(20deg);
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            &:first-of-type {
                &:after {
                    background: $blue;
                    border-radius: 50%;
                    box-shadow: 0 0 25px $blue;
                    content: "";
                    height: 40px;
                    left: 50%;
                    margin-left: -20px;
                    margin-top: -20px;
                    position: absolute;
                    top: 50%;
                    width: 40px;
                    -webkit-transform: rotateX(-80deg) rotateY(0);
                    -moz-transform: rotateX(-80deg) rotateY(0);
                    transform: rotateX(-80deg) rotateY(0);
                }
            }
            &:nth-of-type(2) {
                -webkit-transform: rotateX(-80deg) rotateY(20deg);
                -moz-transform: rotateX(-80deg) rotateY(20deg);
                transform: rotateX(-80deg) rotateY(20deg);
                > div, > div:after {
                    -webkit-animation-delay: -.5s;
                    -moz-animation-delay: -.5s;
                    animation-delay: -.5s;
                }
            }
            &:nth-of-type(3) {
                -webkit-transform: rotateX(-70deg) rotateY(60deg);
                -moz-transform: rotateX(-70deg) rotateY(60deg);
                transform: rotateX(-70deg) rotateY(60deg);
                > div,  > div:after {
                    -webkit-animation-delay: -1s;
                    -moz-animation-delay: -1s;
                    animation-delay: -1s;
                }
            }
            &:nth-of-type(4) {
                -webkit-transform: rotateX(70deg) rotateY(60deg);
                -moz-transform: rotateX(70deg) rotateY(60deg);
                transform: rotateX(70deg) rotateY(60deg);
                > div, > div:after {
                    -webkit-animation-delay: -1.5s;
                    -moz-animation-delay: -1.5s;
                    animation-delay: -1.5s;
                }
            }
            > div {
                height: 200px;
                position: relative;
                width: 200px;
                -webkit-animation: trail_ 2s infinite linear;
                -moz-animation: trail_ 2s infinite linear;
                animation: trail_ 2s infinite linear;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                transform-style: preserve-3d;
                &:after {
                    background-color: $blue;
                    border-radius: 50%;
                    box-shadow: 0 0 12px $blue;
                    content: "";
                    height: 10px;
                    left: 50%;
                    margin-left: -10px;
                    position: absolute;
                    top: -5px;
                    width: 10px;
                    -webkit-animation: particle_ 2s infinite linear;
                    -moz-animation: particle_ 2s infinite linear;
                    animation: particle_ 2s infinite linear;
                }
            }
        }
    }
}

@-webkit-keyframes trail_ {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}
@-moz-keyframes trail_ {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}
@keyframes trail_ {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}
@-webkit-keyframes particle_ {
    from { transform: rotateX(90deg) rotateY(0deg); }
    to { transform: rotateX(90deg) rotateY(-360deg); }
}
@-moz-keyframes particle_ {
    from { transform: rotateX(90deg) rotateY(0deg); }
    to { transform: rotateX(90deg) rotateY(-360deg); }
}
@keyframes particle_ {
    from { transform: rotateX(90deg) rotateY(0deg); }
    to { transform: rotateX(90deg) rotateY(-360deg); }
}
