button.btn {
    border-radius: 2px;
    font-size: 1.6rem;
    height: 30px;
    min-width: 100px;
    cursor: pointer;
    &.btn-primary {
        background: $blue;
        border: solid 1px $blue;
        color: $text_color;
        -webkit-transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        transition: background .2s linear, color .2s linear;
        &:active {
            background: $blue !important;
            color: $black;
        }
        &:focus, &:hover {
            background: transparent;
        }
    }
}
