$black                          : #191c23;
$blue                           : #3676f4;
$bg_app_grey_dark               : #21242b;
$bg_tab_grey_medium             : #292c33;
$text_color                     : #c8cae3;
$text_color_hover               : #999dcc;

// colors icons
$icon_html                      : #d28445;
$icon_eslint                    : #aa759f;
$icon_linkedin                  : #0077b5;
$icon_js                        : #f4bf75;
$icon_node                      : #90a959;
$icon_npm                       : #ac4142;
$icon_sass                      : #e347c4;
$icon_twitter                   : #1da1f2;
$icon_webpack                   : #6a9fb5;

$roboto                         : 'Open-Sans', Arial, sans-serif;
$fa-font-path                   : '~font-awesome/fonts/';
