#panel {
    .directories {
        background: $bg_app_grey_dark;
        height: 100%;
        * {
            position: relative;
            z-index: 10;
        }
        .directory {
            min-height: 35px;
            overflow: hidden;
            padding: 7px 10px;
            width: 100%;
            -webkit-transition: max-height .2s linear;
            -moz-transition: max-height .2s linear;
            transition: max-height .2s linear;
            &.close {
                height: 35px;
                max-height: 35px;
            }
            &.open {
                height: auto;
                max-height: 220px;
            }
            .dropdown {
                cursor: pointer;
                height: 35px;
                padding: 9px 10px;
                * {
                    cursor: pointer;
                }
            }
            .subs-dropdown {
                padding-left: 11px;
                .sub {
                    cursor: pointer;
                    height: 35px;
                    padding: 7px 10px;
                }
            }
        }
    }
}
