#panel {
    .directories {
        background: $bg_app_grey_dark;
        height: 100%;
        * {
            position: relative;
            z-index: 10;
        }
        .directory {
            min-height: 35px;
            overflow: hidden;
            padding-bottom: 7px;
            padding-top: 7px;
            width: 100%;
            -webkit-transition: max-height .2s linear;
            -moz-transition: max-height .2s linear;
            transition: max-height .2s linear;
            &.close {
                height: 35px;
                max-height: 35px;
            }
            &.open {
                height: auto;
                max-height: 220px;
            }
            .dropdown {
                cursor: pointer;
                height: 35px;
                padding: 9px 10px;
                * {
                    cursor: pointer;
                }
            }
            .subs-dropdown {
                .project-nav-link {
                    &:hover {
                        color: $text_color;
                        text-decoration: none;
                    }
                    &.active {
                        .sub {
                            background: $bg_tab_grey_medium;
                            border-left: solid 2px $blue;
                        }
                    }
                    .sub {
                        cursor: pointer;
                        height: 35px;
                        padding: 7px 10px;
                        padding-left: 28px;
                        -webkit-transition: background-color .2s linear;
                        -moz-transition: background-color .2s linear;
                        transition: background-color .2s linear;
                        &:hover {
                            background: $bg_tab_grey_medium;
                        }
                    }
                }
            }
        }
    }
}
