// general
@import 'tools/fonts/fonts';
@import 'tools/variables';
// libs
// Bootstrap
// bootstrap requirements
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/reboot';
// bootstrap utilities
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/spacing';
// bootstrap components
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/dropdown';
// Font-Awesome
@import '~font-awesome/scss/font-awesome';
// custom style
@import 'atomic_styles/atomic_styles';
@import 'components/anchor';
@import 'components/button';
@import 'components/select';
@import 'components/sweetalert';
@import 'footer/footer';
@import 'content/content';
@import 'contact/contact';
@import 'panel/panel';

html {
    font-size: 10px;
}
body {
    background: $bg_app_grey_dark;
    color: $text_color;
    font-family: $roboto;
    font-size: 1.4rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 100vh;
    line-height: 1.5;
    letter-spacing: normal;
    overflow: hidden;
    width: 100vw;
}
.fa {
    min-width: 18px;
    text-align: center;
}
.fa-angle-bottom, .fa-angle-left, .fa-angle-right, .fa-angle-top {
    font-weight: bold;
}
